In [1]:
import pandas as pd

In [2]:
file = "Resources/mock_data.csv"
df = pd.read_csv(file)
df.head()

,Crash Death Count,Crash Severity,Crash Time,Crash Total Injury Count,Crash Year,Day of Week,Highway Number,Highway System,Latitude,Light Condition,...,Vehicle Make,Vehicle Model Name,Vehicle Model Year,Citation,Person Age,Person Alcohol Result,Person Drug Test Result,Person Gender,Person Injury Severity,Person Type
0,0,N - NOT INJURED,1111,0,2018,MONDAY,No Data,No Data,30.20098162,1 - DAYLIGHT,...,HONDA,ODYSSEY (HONDA),2005,No Data,34,No Data,97 - NOT APPLICABLE,2 - FEMALE,N - NOT INJURED,1 - DRIVER
1,0,N - NOT INJURED,36,0,2018,MONDAY,734,FARM TO MARKET,30.36856269,"3 - DARK, LIGHTED",...,HONDA,CIVIC (HONDA),2013,E16001834,49,No Data,97 - NOT APPLICABLE,2 - FEMALE,N - NOT INJURED,1 - DRIVER
2,0,N - NOT INJURED,36,0,2018,MONDAY,734,FARM TO MARKET,30.36856269,"3 - DARK, LIGHTED",...,HYUNDAI,SANTA FE (HYUNDAI),2011,No Data,22,No Data,97 - NOT APPLICABLE,2 - FEMALE,N - NOT INJURED,1 - DRIVER
3,0,N - NOT INJURED,36,0,2018,MONDAY,734,FARM TO MARKET,30.36856269,"3 - DARK, LIGHTED",...,HYUNDAI,SANTA FE (HYUNDAI),2011,No Data,48,No Data,No Data,2 - FEMALE,N - NOT INJURED,2 - PASSENGER/OCCUPANT
4,0,N - NOT INJURED,728,0,2018,MONDAY,734,FARM TO MARKET,30.40533278,"2 - DARK, NOT LIGHTED",...,CHRYSLER,300 (CHRYSLER),2006,No Data,21,No Data,97 - NOT APPLICABLE,1 - MALE,N - NOT INJURED,1 - DRIVER

In [4]:
practice_df = df[['Day of Week', 'Latitude','Longitude', 'Person Age','Vehicle Make']]

In [5]:
practice_df.head()

  Day of Week     Latitude     Longitude Person Age Vehicle Make
0      MONDAY  30.20098162  -97.87090786         34        HONDA
1      MONDAY  30.36856269  -97.61329002         49        HONDA
2      MONDAY  30.36856269  -97.61329002         22      HYUNDAI
3      MONDAY  30.36856269  -97.61329002         48      HYUNDAI
4      MONDAY  30.40533278  -97.66431513         21     CHRYSLER

In [6]:
practice_df.to_csv("Resources/mock_data_for_sql.csv")